.navbar {
	height: 6.5rem;
	position: absolute;
	background-color: transparent;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.navbar--container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 3rem;
	margin-top: 1rem;
}

.navbar--container > h1 {
	font-family: "BestermindRegular";
	color: var(--primary-2);
	font-size: 2.5rem;
	user-select: none;
}

.navLink--container {
	margin-top: 5rem;
}

.drawer > .MuiBackdrop-root {
	background: rgba(33, 33, 33, 0.15) !important;
	backdrop-filter: blur(20px) !important;
}

.nav-menu-icon {
	font-size: 2.5rem;
	color: var(--menu-color);
	cursor: pointer;
	transform: translateY(-10px);
	transition: color 0.3s;
}

.nav-menu-icon:hover {
	color: var(--menu-color-hover);
}

.drawer-item {
	margin: 2rem auto;
	border-radius: 78.8418px;
	background: var(--item-bg);
	color: var(--item-color);
	width: 85%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 30px;
	box-sizing: border-box;
	border: 2px solid var(--item-border);
	transition:
		background-color 0.2s,
		color 0.2s;
}

.drawer-item:hover {
	background: var(--item-bg-hover) !important;
	color: var(--item-color-hover) !important;
}

.drawer-links {
	font-family: var(--primaryFont);
	width: 50%;
	font-size: 1.3rem;
	font-weight: 600;
}

.drawer-icon {
	font-size: 1.6rem;
}

@media (max-width: 1100px) {
	.navbar--container {
		padding: 0 2rem;
	}
	.navbar--container > h1 {
		font-size: 2.2rem;
	}
	.nav-menu {
		font-size: 2.2rem;
		margin-top: -1.5rem;
	}
}

@media (max-width: 800px) {
	.navLink--container {
		margin-top: 3rem;
	}
}

@media (max-width: 600px) {
	.nav-menu {
		color: var(--primary-2);
	}
	.navbar--container > h1 {
		font-size: 2rem;
	}
	.nav-menu:hover {
		color: var(--primary-2);
	}
	.MuiDrawer-paper {
		border-radius: 0 !important;
	}
	.drawer-item {
		width: 100%;
		padding: 0 25px;
		height: 55px;
	}
	.drawer-links {
		font-size: 1.125rem;
	}
	.drawer-icon {
		font-size: 1.385rem;
	}
	.nav-menu-icon {
		font-size: 2rem;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
	.navbar {
		height: 5rem;
	}
	.navbar--container {
		padding: 0 1rem;
		margin-top: 0rem;
	}
	.navbar--container > h1 {
		font-size: 1.5rem;
	}
}
